body {
	margin: 0px;
	padding-top: 0;
	padding-bottom: 0;
	font-family: "Verdana", Times, sans-serif;
	background-color: #6362CC;
}

.bgactive {
	background-color: lime;
}

.bginactive {
	background-color: red;
}

#game-definition-visibler:checked {
	background-color: #2196F3;
}

#timer-header {
	font-size: 18px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.center-hor {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.btn-word-letter {
	border: 1px solid #FFE9D4;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	font-family: Monospace;
	background: rgba(0, 0, 0, 0);
}

.btn-letter {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	font-family: Monospace;
	background: rgba(0, 0, 0, 0);
}

.btn-letter-active {
	background-color: #B38AFF;
}

.btn-letter-inactive {
	background-color: #726B80;
}

#content {
	height: 85%;
	padding: 10px;
}

#content > div {
	height: 100%;
}

#image-state {
	width: 33%;
	float: right;
}

#text-state {
	width: 55%;
	float: left;
}

#text-state > div > div {
	margin-top: 5%;
}

#image-state img {
	max-width: 100%; 
	max-height: 100%;
	display:block; 
}

.right {
	float: right;
}

.left {
	float: left;
}

.red {
	color: red;
}

.white {
	color: white;
}

.lime {
	color: lime;
}